@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Container {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ddd;
  background-color: #0D0D0D;
}

.Metronome {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  justify-content: space-between;
}

.bpm-display {
  width: 100%;
  text-align: center;
  color: #08A66C;
  font-weight: bold;
}

.tempo {
  font-size: 4em;
}

.tempo-text {
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
}

.tempo-settings {
  display: flex;
  justify-content: space-between;
}

.adjust-tempo-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  background: none;
}

.adjust-tempo-btn:hover {
  background: #08A66C;
  color: white;
}

.styleSpan {
  text-align: center;
  font-size: 40px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.decrease-tempo {
  line-height: 14px;
  color: #ddd;
  padding-left: 1px;
}

.increase-tempo {
  line-height: 22px;
  padding-left: 2px;
  color: #ddd;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 70%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #08A66C;
  cursor: pointer;
  margin-top: -8px;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #08A66C;
  cursor: pointer;
  border: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: #ddd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  background: #ddd;
}

.start-stop {
  width: 50px;
  height: 50px;
  font-size: 0.7em;
  text-align: center;
  background-color: #08A66C;
  border-radius: 50%;
  color: white;
  margin: 0 auto;
  cursor: pointer;
  border-color: #08A66C;
  border: 1px solid transparent;
}

.start-stop:hover {
  background-color: #0ABF7D;
}

.measures {
  display: flex;
  justify-content: center;
}

.stepper {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  margin: 0 5px;
  cursor: pointer;
  color: #ddd;
  background: none;
}

.stepper:hover {
  background: #0ABF7D;
  color: white;
}

.add-beats {
  line-height: 20px;
}

.beats-per-measure-text {
  text-align: center;
  font-size: 0.5em;
  text-transform: uppercase;
}

.toggle {
  --width: 30px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 50px;
  bottom: 1px;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: #0ABF7D;
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

.measures {
  position: relative;
}

.btn-change-path-mt {
  position: absolute;
  right: 0;
  width: 50px;
  height: 70px;
  background: #ddd;
  font-size: 30px;
  color: #0D0D0D;
  font-weight: bold;
  border: none;
  text-decoration: none;
}

.btn-change-path-mt:hover {
  background: #0ABF7D;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:active {
  color: #ddd;
}

.decorationA {
  width: 50px;
  height: 70px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.decorationA:hover {
  color: #ddd;
}/*# sourceMappingURL=Metronome.css.map */